



<h2>Here we display Browser details</h2>
<hr />
<table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-2">
        <col class="col-xs-6">
      </colgroup>
      <thead>
        <tr>
          <th>Class</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <code>Browser name</code>
          </th>
          <td>{{browsername}}</td>
        </tr>
        <tr>
          <th scope="row">
            <code>Browser version</code>
          </th>
          <td>{{browserversion}}</td>
        </tr>
        <tr>
          <th scope="row">
            <code>Full version</code>
          </th>
          <td>{{browserfullversion}}</td>
        </tr>
        <tr>
          <th scope="row">
            <code>Language</code>
          </th>
          <td>{{browserlanguage}}</td>
        </tr>
        <tr>
          <th scope="row">
            <code>Major Version</code>
          </th>
          <td>{{majorVersion}}</td>
        </tr>
      </tbody>
    </table>

