
<div class="hidden-xs">
    <br /><br />
</div>

<br /><br />

<form name="changepasswordForm" class="login-form" role="form">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="well">
                <h3 class="form-login-heading"><i style="color:#40661B" class="fa fa-unlock-alt"></i> {{ 'changeyourpassword' | translate }}</h3>
                <hr />
                <div class="row">
                <div class="col-xs-10 col-md-12">
                <p>{{ 'usebelowform' | translate }}</p>
                <br />
                <input type="password" class="form-control" placeholder="{{ 'oldpassword' | translate }}" data-ng-model="cp.oldpassword" required>
                <br />
                <input type="password" class="form-control" placeholder="{{ 'newpassword' | translate }}" data-ng-model="cp.newpassword" required>
                <br />
                 <input type="password" class="form-control" placeholder="{{ 'confirmnewpassword' | translate }}" data-ng-model="cp.confirmpassword" data-compare-to="cp.newpassword"  required>
                <br />
                <!--<a class="btn btn-md btn-info btn-block" href="#/graph">Login</a>-->
                <button data-ng-disabled="changepasswordForm.$invalid" type="button"   style="margin-top:10px" class="btn btn-md btn-info btn-block" data-ng-click="changepassword()"><i class="fa fa-pencil"></i> {{ 'update' | translate }} </button>
             </div>
                    </div>
            </div>
        </div>
          <div class="col-md-2"></div>
        
    </div>
</form>

<style>
    body
    {
    overflow:hidden !important;
    }
</style>

