<div class="hidden-xs">
    <br />
    <br />
    <br />
    <br />
</div>

<form name="forgotForm" class="login-form" role="form">
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-6">
            <div class="well">
                <h3 class="form-login-heading"><i style="color:#589c16" class="fa fa-question-circle"></i> {{ 'Forgotpassword' | translate }}

                    <small class="pull-right"> <i style="color:#589c16" class="fa fa-unlock-alt"></i> <a href="#/login">{{ 'Logintext' | translate }}</a> </small>
                </h3>
                <hr />

                <p>{{ 'Forgotheading' | translate }}</p>
                <input type="email" class="form-control" placeholder="{{ 'Email' | translate }}"  data-ng-model="emailAddress" data-ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
                <br />

                <!--<a class="btn btn-md btn-info btn-block" href="#/graph">Login</a>-->
                <button data-ng-disabled="forgotForm.$invalid" style="margin-top: 10px" class="btn btn-md btn-info btn-block" type="submit" data-ng-click="retrievepassword()">{{ 'Getpassword' | translate }}</button>
                
            </div>
        </div>
        
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
</form>

