<div class="hidden-xs">
    <br />
    <br />
    <br />
    <br />
</div>

<form name="forgotForm" class="login-form" role="form">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="well">
                <h3 class="form-login-heading"><i style="color: #f04124" class="fa fa-question-circle"></i> {{ 'Forgotpassword' | translate }}  </h3>
                <hr />
                <p>{{ 'Forgotheading' | translate }}</p>
                <br />
                <input type="email" class="form-control" placeholder="{{ 'Email' | translate }}"  data-ng-model="emailAddress" data-ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
                <br />

                <!--<a class="btn btn-md btn-info btn-block" href="#/graph">Login</a>-->
                <button data-ng-disabled="forgotForm.$invalid" style="margin-top: 10px" class="btn btn-md btn-danger btn-block" type="submit" data-ng-click="retrievepassword()">{{ 'Getpassword' | translate }}</button>
                
            </div>
        </div>
        
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</form>


<div class="navbar-fixed-bottom">
<div style="text-align:center" class="row">
    <div style="border-right:1px solid #fff" class="col-md-6 col-xs-6 btn-danger">
        <a href="#/signup" style="color: #fff;" class="btn">New member</a>

    </div>
    <div class="col-md-6 col-xs-6 btn-danger">
        <a href="#/login" style="color: #fff; white-space:nowrap" class="btn">Login</a>
    </div>
</div>

</div>

